.discover {
    padding: 100px 100px 100px 0px;
    display: flex;
    justify-content: flex-start;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;

    .discover__container {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        max-width: 1200px;
        position: relative;
        width: 90%;
        margin: auto;

        .discover__text {
            width: 40%;
            .discover__title {
                font-family: "CompassDisplay-Regular";
                font-style: italic;
                font-size: 35px;
                font-weight: 300;
                /* margin-bottom: 30px; */
            }

            .discover__subtitle {
                font-family: "CompassSans-Regular";
                font-weight: 600;
                display: inline-block;
                margin-bottom: 30px;
            }

            .discover__description {
                font-family: "CompassSans-Regular";
                font-weight: 300;
                text-align: justify;
                margin-right: 35px;
                margin-bottom: 15px;
                line-height: 23px;
            }

            .discover__btn {

                .discover__allNeighborhoods {
                    font-family: "CompassSans-Regular";
                    text-decoration: none;
                    display: inline-block;
                    padding: 15px 25px;
                    background-color: #000;
                    border: 2px solid transparent;
                    color: #fff;
                    &:hover { 
                        border-color: #000;
                        color: #000;
                        background-color: #fff;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }

        .discover__wrapper {
            display: flex;
            width: 50%;
            /* overflow: hidden; */

            .discover__cardImg {
                width: 350px;
                display: flex;
                flex-direction: column;
                /* justify-content: space-evenly; */
                align-items: center;
                position: relative;
                margin-right: 30px;
                
                .discover__cardBox {
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    
                    .discover__thumb {
                        width: 350px;                       
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                    
                    .discover__descriptionImg {
                        color: #fff;
                        display: inline-block;
                        position: absolute;
                        text-align: center;
                        font-family: "CompassSans-Regular";
                        font-size: 300;
                        line-height: 15px;
                        padding: 50px;
                        transform: translateY(30px);
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:hover {
                        .discover__descriptionImg {
                            transform: translateY(0px);
                            opacity: 1;
                            transition: all .3s ease-in-out;
                            visibility: visible;
                            cursor: pointer;
                        }

                        .discover__thumb {
                            filter: brightness(50%);
                            transform: scale(1.1);
                            transition: all .3s linear;
                        }
                    }
                }

                .discover__nameImg {
                    display: flex;
                    align-self: flex-start;
                    margin-top: 10px;

                    .discover__name {
                        font-family: "CompassSans-Regular";
                        font-size: 300;
                    }
                }

            }
        }

        .discover__buttons {
            position: absolute;
            display: flex;
            z-index: 10;
            bottom: 40px;
            left: 375px;

            .discover__left {
                padding: 20px;
                background: none;
                border: none;
                background-color: #000;
                border: 2px solid transparent;
                color: #fff;
                cursor: pointer;
                &:hover {
                    background-color: #fff;
                    border-color: #000;
                    color: #000;
                    transition: all .3s ease-in-out;
                }

                    i { font-size: 1.1rem; }
            }
            .discover__right {
                padding: 20px;
                background: none;
                border: none;
                background-color: #000;
                border: 2px solid transparent;
                color: #fff;
                cursor: pointer;
                &:hover {
                    background-color: #fff;
                    border-color: #000;
                    color: #000;
                    transition: all .3s ease-in-out;
                }

                    i { font-size: 1.1rem; }
            }
        }
    }
}