.discover {
    padding: 100px 100px 100px 0px;
    display: flex;
    justify-content: flex-start;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
    @media screen and (max-width: 1200px) {
        max-width: 1100px;
    }
    @media screen and (max-width: 1010px) {
        padding: 50px 100px 100px 100px;
    }
    @media screen and (max-width: 1000px) {
        max-width: 900px;
    }
    @media screen and (max-width: 950px) {
        max-width: 850px;
    }
    @media screen and (max-width: 900px) {
        max-width: 800px;
    }
    @media screen and (max-width: 850px) {
        max-width: 750px;
    }
    @media screen and (max-width: 800px) {
        max-width: 700px;
    }
    @media screen and (max-width: 750px) {
        max-width: 650px;
    }
    @media screen and (max-width: 700px) {
        max-width: 450px;
    }
    @media screen and (max-width: 500px) {
        max-width: 450px;
    }

    .discover__container {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        max-width: 1200px;
        position: relative;
        width: 90%;
        margin: auto;
        @media screen and (max-width: 1010px) {
            flex-direction: column;
        }

        .discover__text {
            width: 40%;
            @media screen and (max-width: 1010px) {
                width: 100%;
                margin-bottom: 5%;
            }
            @media screen and (max-width: 950px) {
                width: 140%;
            }
            @media screen and (max-width: 700px) {
                width: 190%;
            }

            .discover__title {
                font-family: "CompassDisplay-Regular";
                font-style: italic;
                font-size: 35px;
                font-weight: 300;
                /* margin-bottom: 30px; */
            }

            .discover__subtitle {
                font-family: "CompassSans-Regular";
                font-weight: 600;
                display: inline-block;
                margin-bottom: 30px;
            }

            .discover__description {
                font-family: "CompassSans-Regular";
                font-weight: 300;
                text-align: justify;
                margin-right: 35px;
                margin-bottom: 15px;
                line-height: 23px;
            }

            .discover__btn {

                .discover__allNeighborhoods {
                    font-family: "CompassSans-Regular";
                    text-decoration: none;
                    display: inline-block;
                    padding: 15px 25px;
                    background-color: #000;
                    border: 2px solid transparent;
                    color: #fff;
                    &:hover { 
                        border-color: #000;
                        color: #000;
                        background-color: #fff;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }

        .discover__wrapper {
            display: flex;
            width: 50%;
            @media screen and (max-width: 1200px) {
                max-width: 1170px;
            }
            /* overflow: hidden; */

            .discover__cardImg {
                width: 350px;
                display: flex;
                flex-direction: column;
                /* justify-content: space-evenly; */
                align-items: center;
                position: relative;
                margin-right: 30px;
                
                .discover__cardBox {
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    
                    .discover__thumb {
                        width: 350px;                       
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        @media screen and (max-width: 500px) {
                            width: 281px;
                        }
                        @media screen and (max-width: 480px) {
                            width: 260px;
                        }
                        @media screen and (max-width: 430px) {
                            width: 250px;
                        }
                        @media screen and (max-width: 420px) {
                            width: 235px;
                        }
                        @media screen and (max-width: 400px) {
                            width: 215px;
                        }
                        @media screen and (max-width: 370px) {
                            width: 215px;
                        }
                        @media screen and (max-width: 340px) {
                            width: 175px;
                        }
                    }
                    
                    .discover__descriptionImg {
                        color: #fff;
                        display: inline-block;
                        position: absolute;
                        text-align: center;
                        font-family: "CompassSans-Regular";
                        font-size: 300;
                        line-height: 15px;
                        padding: 50px;
                        transform: translateY(30px);
                        opacity: 0;
                        visibility: hidden;
                        @media screen and (max-width: 701px) {
                            width: 80%;
                        }
                        @media screen and (max-width: 501px) {
                            width: 100%;
                        }
                        @media screen and (max-width: 415px) {
                            font-size: 80%;
                        }
                        @media screen and (max-width: 341px) {
                            font-size: 50%;
                        }
                    }
                    &:hover {
                        .discover__descriptionImg {
                            transform: translateY(0px);
                            opacity: 1;
                            transition: all .3s ease-in-out;
                            visibility: visible;
                            cursor: pointer;
                        }

                        .discover__thumb {
                            filter: brightness(50%);
                            transform: scale(1.1);
                            transition: all .3s linear;
                        }
                    }
                }

                .discover__nameImg {
                    display: flex;
                    align-self: flex-start;
                    margin-top: 10px;

                    .discover__name {
                        font-family: "CompassSans-Regular";
                        font-size: 300;
                    }
                }

            }
        }

        .discover__buttons {
            position: absolute;
            display: flex;
            z-index: 10;
            bottom: 40px;
            left: 375px;
            @media screen and (max-width: 1290px) {
                bottom: 35px;
                left: 358px;
            }
            @media screen and (max-width: 1200px) {
                bottom: 33px;
                left: 305px;
            }
            @media screen and (max-width: 1085px) {
                left: 299px;
            }
            @media screen and (max-width: 1070px) {
                left: 295px;
            }
            @media screen and (max-width: 1045px) {
                left: 285px;
            }
            @media screen and (max-width: 1045px) {
                left: 278px;
            }
            @media screen and (max-width: 1010px) {
                bottom: 35px;
                left: 127px;
            }
            @media screen and (max-width: 1000px) {
                left: 102px;
            }
            @media screen and (max-width: 950px) {
                left: 91px;
            }
            @media screen and (max-width: 900px) {
                left: 80px;
            }
            @media screen and (max-width: 850px) {
                left: 68px;
            }
            @media screen and (max-width: 800px) {
                left: 57px;
            }
            @media screen and (max-width: 700px) {
                left: 0px;
            }
            @media screen and (max-width: 500px) {
                left: 0px;
            }
            @media screen and (max-width: 410px) {
                left: -8px;
            }
            @media screen and (max-width: 370px) {
                left: -18px;
            }
            @media screen and (max-width: 340px) {
                left: -24px;
            }
            /* @media screen and (max-width: 976px) {
                bottom: 30px;
                left: 295px;
            } */

            .discover__left {
                padding: 20px;
                background: none;
                border: none;
                background-color: #000;
                border: 2px solid transparent;
                color: #fff;
                cursor: pointer;
                &:hover {
                    background-color: #fff;
                    border-color: #000;
                    color: #000;
                    transition: all .3s ease-in-out;
                }

                    i { font-size: 1.1rem; }
            }
            .discover__right {
                padding: 20px;
                background: none;
                border: none;
                background-color: #000;
                border: 2px solid transparent;
                color: #fff;
                cursor: pointer;
                &:hover {
                    background-color: #fff;
                    border-color: #000;
                    color: #000;
                    transition: all .3s ease-in-out;
                }

                    i { font-size: 1.1rem; }
            }
        }
    }
}