.experienceExpertise {
    display: flex;
    flex-direction: column;

    .experienceExpertise__main {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        padding: 50px;

        .experienceExpertise__text {
            margin: auto;
            padding-right: 100px;
            width: 50%;

            .experienceExpertise__title {
                font-family: "CompassDisplay-Regular";
                font-style: italic;
                font-size: 35px;
                font-weight: 300;
                margin-bottom: 25px;
            }
            
            .experienceExpertise__description {
                font-family: "CompassSans-Regular";
                font-weight: 300;
                text-align: justify;
                line-height: 20px;
                margin-bottom: 25px;
            }

            .experienceExpertise__details {
                display: flex;
                flex-direction: column;

                .experienceExpertise__detail {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 25px;

                    .experienceExpertise__exp {
                        @include styleExperienceDetails;
                        margin-right: 30px
                    }

                    .experienceExpertise__awards {
                        @include styleExperienceDetails; 
                    }
                }
                
                .experienceExpertise__top {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 25px;

                    .experienceExpertise__producing {
                        @include styleExperienceDetails;
                        margin-right: 30px
                    }
                    .experienceExpertise__ranked {
                        @include styleExperienceDetails;
                    }
                }
            }

            .experienceExpertise__btn {
                width: 250px;
                margin-top: 10px;

                a {
                    text-decoration: none;
                    text-align: center;
                    color: #fff;
                    padding: 15px 60px;
                    background-color: #000;
                    font-family: "CompassSans-Regular";
                    border: 2px solid transparent;
                    &:hover {
                        border-color: #000;
                        color: #000;
                        background-color: #fff;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }

        .experienceExpertise__img {
            width: 50%;

            .experienceExpertise__thumb {
                width: 100%;
            }
        }
    }

    .experienceExpertise__enterprises {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: "CompassSerif-Regular";
        font-style: italic;
        font-weight: 600;
        max-width: 1200px;
        margin: auto;

        .experienceExpertise__thumbs {
            display: flex;
            justify-content: space-evenly;
            /* width: 90%; */
            
            .experienceExpertise__thumb {
                vertical-align: top;
                transform: scale(.9);
            }
        }
    }
}