@import url(./fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* KEYFRAMES */
@-webkit-keyframes scrolling {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(25px);
  }
}
@keyframes scrolling {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(25px);
  }
}
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
header .navBar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 4px 0px rgb(73, 72, 72);
}
header .navBar .navBar__logosNav {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
header .navBar .navBar__logosNav .navBar__thumb {
  /* position: relative; */
  transform: scale(0.9);
  /* &.navBar__thumb--line {
      &::after {
          content: '';
          width: 1px;
          background-color: #1b1b1b;
          height: 320px;
          position: absolute;
          right: 130px;
          top: 10px;
      }
  } */
}
header .navBar .navBar__contenidoNav {
  display: flex;
  justify-content: space-between;
}
header .navBar .navBar__contenidoNav .navBar__info {
  display: flex;
  flex-direction: column;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__listInfo {
  display: flex;
  /* padding-top: 10px; */
  justify-content: right;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__listInfo li {
  list-style: none;
  padding-right: 30px;
  font-family: "CompassSans-Regular";
  font-size: 12px;
  font-weight: bold;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links {
  padding-top: 20px;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks .navBar__link {
  list-style: none;
  font-family: "CompassSans-Regular";
  font-size: 12px;
  font-weight: bold;
  padding: 15px;
  border-bottom: 2px solid transparent;
  margin-right: 15px;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks .navBar__link:hover {
  cursor: pointer;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks .navBar__link:hover a {
  border-bottom: 2px solid #000;
  transition: all 0.3s ease-in-out;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks .navBar__link a {
  text-decoration: none;
  color: #000;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks .navBar__search {
  border: 1px solid #000;
  margin-right: 10px;
  padding: 11px 20px;
  list-style: none;
  font-family: "CompassSans-Regular";
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks .navBar__search:hover {
  color: #ffffff;
  background-color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks .navBar__search:hover i {
  color: #ffffff;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks .navBar__search i {
  font-size: 14px;
  color: #000;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks .navBar__link--button {
  background-color: #000;
  border: 2px solid transparent;
  padding: 10px 33px;
  font-size: 14px;
  margin-right: 30px;
  list-style: none;
  font-family: "CompassSans-Regular";
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks .navBar__link--button:hover {
  cursor: pointer;
  border: 2px solid #000;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks .navBar__link--button:hover a {
  color: #000;
}
header .navBar .navBar__contenidoNav .navBar__info .navBar__links .navBar__listLinks .navBar__link--button a {
  text-decoration: none;
  color: #ffffff;
}

.welcome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/welcome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 86px;
}
.welcome .welcome__title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.welcome .welcome__title .welcome__subtitleTop {
  font-family: "CompassSerif-Regular";
  font-size: 22px;
  line-height: 18.3px;
  color: #fff;
}
.welcome .welcome__title .welcome__mainTitle {
  font-family: "CompassDisplay-Regular";
  font-size: 60px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  padding: 10px;
}
.welcome .welcome__title .welcome__subtitleBottom {
  font-family: "CompassSerif-Regular";
  font-size: 17px;
  line-height: 20.4px;
  font-style: italic;
  color: #fff;
}
.welcome .welcome__btns {
  width: 600px;
  padding: 50px;
  display: flex;
  justify-content: space-around;
}
.welcome .welcome__btns .welcome__buyers {
  /* MIXINS */
  background: none;
  padding: 15px 80px;
  color: #fff;
  border: 2px solid #fff;
}
.welcome .welcome__btns .welcome__buyers:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.welcome .welcome__btns .welcome__sellers {
  /* MIXINS */
  background: none;
  padding: 15px 80px;
  color: #fff;
  border: 2px solid #fff;
}
.welcome .welcome__btns .welcome__sellers:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.welcome .welcome__form {
  display: flex;
}
.welcome .welcome__form .welcome__searchBar {
  display: inline-block;
  width: 400px;
  padding: 15px;
  border-radius: 5px 0 0 5px;
  border: none;
  margin-bottom: 100px;
  outline: none;
}
.welcome .welcome__form .welcome__searchBar::-moz-placeholder {
  color: #000;
}
.welcome .welcome__form .welcome__searchBar:-ms-input-placeholder {
  color: #000;
}
.welcome .welcome__form .welcome__searchBar::placeholder {
  color: #000;
}
.welcome .welcome__form .welcome__btnSearch {
  width: 50px;
  height: 45.55px;
  background-color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
}
.welcome .welcome__form .welcome__btnSearch:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.welcome .welcome__scroll {
  color: #fff;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.welcome .welcome__scroll p {
  font-family: "CompassSerif-Regular";
  font-style: italic;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 25px;
}
.welcome .welcome__scroll span {
  display: inline-block;
  font-size: 1.5rem;
  -webkit-animation: scrolling 1s infinite;
          animation: scrolling 1s infinite;
}

.exclusiveListings {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exclusiveListings .exclusiveListings__title {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.exclusiveListings .exclusiveListings__title .exclusiveListings__subtitleTop {
  font-family: "CompassSerif-Regular";
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  font-style: italic;
}
.exclusiveListings .exclusiveListings__title .exclusiveListings__mainTitle {
  font-family: "CompassDisplay-Regular";
  font-size: 53px;
  line-height: 63.3px;
  font-weight: 300;
  color: #333;
}
.exclusiveListings .exclusiveListings__imgs {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.exclusiveListings .exclusiveListings__imgs .exclusiveListings__img {
  margin: 0 20px;
  position: relative;
}
.exclusiveListings .exclusiveListings__imgs .exclusiveListings__img .exclusiveListings__thumb {
  margin: 0 auto;
  width: 650px;
  filter: brightness(75%);
}
.exclusiveListings .exclusiveListings__imgs .exclusiveListings__img .exclusiveListings__textImg {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.exclusiveListings .exclusiveListings__imgs .exclusiveListings__img .exclusiveListings__textImg .exclusiveListings__imgTitle {
  font-family: "CompassSans-Regular";
  color: #fff;
  font-size: 22px;
  line-height: 26.4px;
  padding: 0;
  left: 10px;
}
.exclusiveListings .exclusiveListings__imgs .exclusiveListings__img .exclusiveListings__textImg p {
  font-family: "CompassSans-Regular";
  font-size: 16px;
  line-height: 13.3px;
  color: #fff;
  display: block;
}
.exclusiveListings .exclusiveListings__imgs .exclusiveListings__img .exclusiveListings__textImg p:nth-child(2) {
  padding-bottom: 5px;
}
.exclusiveListings .exclusiveListings__viewProperties {
  display: inline-block;
  margin: 20px 0 50px 0;
  padding: 15px 25px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-family: "CompassSans-Regular";
  font-size: 17px;
  line-height: 14.2px;
  border: 2px solid transparent;
}
.exclusiveListings .exclusiveListings__viewProperties:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
  transition: all 0.3s ease-in-out;
}

.whatMakesDifferent {
  background-image: url(../img/whatMakeDif.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  height: 100%;
}
.whatMakesDifferent .whatMakesDifferent__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.whatMakesDifferent .whatMakesDifferent__container .whatMakesDifferent__video {
  width: 50%;
}
.whatMakesDifferent .whatMakesDifferent__container .whatMakesDifferent__video .whatMakesDifferent__img {
  width: 100%;
}
.whatMakesDifferent .whatMakesDifferent__container .whatMakesDifferent__info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.whatMakesDifferent .whatMakesDifferent__container .whatMakesDifferent__info .whatMakesDifferent__text {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.whatMakesDifferent .whatMakesDifferent__container .whatMakesDifferent__info .whatMakesDifferent__text .whatMakesDifferent__title {
  font-family: "CompassDisplay-Regular";
  font-style: italic;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 30px;
}
.whatMakesDifferent .whatMakesDifferent__container .whatMakesDifferent__info .whatMakesDifferent__text .whatMakesDifferent__features {
  font-family: "CompassSans-Regular";
  width: 75%;
  margin-bottom: 25px;
  line-height: 20px;
}
.whatMakesDifferent .whatMakesDifferent__container .whatMakesDifferent__info .whatMakesDifferent__text .whatMakesDifferent__description {
  font-family: "CompassSans-Regular";
  margin-bottom: 30px;
  text-align: justify;
  line-height: 20px;
  width: 90%;
}
.whatMakesDifferent .whatMakesDifferent__container .whatMakesDifferent__info .whatMakesDifferent__btn {
  width: 250px;
}
.whatMakesDifferent .whatMakesDifferent__container .whatMakesDifferent__info .whatMakesDifferent__btn .whatMakesDifferent__meet {
  text-align: center;
  text-decoration: none;
  padding: 15px 40px;
  border: 2px solid transparent;
  background-color: #ffffff;
  color: #000000;
  font-family: "CompassSans-Regular";
  display: block;
}
.whatMakesDifferent .whatMakesDifferent__container .whatMakesDifferent__info .whatMakesDifferent__btn .whatMakesDifferent__meet:hover {
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.discover {
  padding: 100px;
  display: flex;
  justify-content: flex-start;
}
.discover .discover__container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 1200px;
  position: relative;
  width: 90%;
  margin: auto;
}
.discover .discover__container .discover__text {
  width: 40%;
}
.discover .discover__container .discover__text .discover__title {
  font-family: "CompassDisplay-Regular";
  font-style: italic;
  font-size: 35px;
  font-weight: 300;
  /* margin-bottom: 30px; */
}
.discover .discover__container .discover__text .discover__subtitle {
  font-family: "CompassSans-Regular";
  font-weight: 600;
  display: inline-block;
  margin-bottom: 30px;
}
.discover .discover__container .discover__text .discover__description {
  font-family: "CompassSans-Regular";
  font-weight: 300;
  text-align: justify;
  margin-right: 35px;
  margin-bottom: 15px;
  line-height: 23px;
}
.discover .discover__container .discover__text .discover__btn .discover__allNeighborhoods {
  font-family: "CompassSans-Regular";
  text-decoration: none;
  display: inline-block;
  padding: 15px 25px;
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
}
.discover .discover__container .discover__text .discover__btn .discover__allNeighborhoods:hover {
  border-color: #000;
  color: #000;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.discover .discover__container .discover__wrapper {
  display: flex;
  width: 50%;
  /* overflow: hidden; */
}
.discover .discover__container .discover__wrapper .discover__cardImg {
  width: 350px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  position: relative;
  margin-right: 30px;
}
.discover .discover__container .discover__wrapper .discover__cardImg .discover__cardBox {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.discover .discover__container .discover__wrapper .discover__cardImg .discover__cardBox .discover__thumb {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.discover .discover__container .discover__wrapper .discover__cardImg .discover__cardBox .discover__descriptionImg {
  color: #fff;
  display: inline-block;
  position: absolute;
  text-align: center;
  font-family: "CompassSans-Regular";
  font-size: 300;
  line-height: 15px;
  padding: 50px;
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
}
.discover .discover__container .discover__wrapper .discover__cardImg .discover__cardBox:hover .discover__descriptionImg {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.3s ease-in-out;
  visibility: visible;
  cursor: pointer;
}
.discover .discover__container .discover__wrapper .discover__cardImg .discover__cardBox:hover .discover__thumb {
  filter: brightness(50%);
  transform: scale(1.1);
  transition: all 0.3s linear;
}
.discover .discover__container .discover__wrapper .discover__cardImg .discover__nameImg {
  display: flex;
  align-self: flex-start;
  margin-top: 10px;
}
.discover .discover__container .discover__wrapper .discover__cardImg .discover__nameImg .discover__name {
  font-family: "CompassSans-Regular";
  font-size: 300;
}
.discover .discover__container .discover__buttons {
  position: absolute;
  display: flex;
  z-index: 10;
  bottom: 50px;
  left: 425px;
}
.discover .discover__container .discover__buttons .discover__left {
  padding: 20px;
  background: none;
  border: none;
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
}
.discover .discover__container .discover__buttons .discover__left:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.discover .discover__container .discover__buttons .discover__left i {
  font-size: 1.1rem;
}
.discover .discover__container .discover__buttons .discover__right {
  padding: 20px;
  background: none;
  border: none;
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
}
.discover .discover__container .discover__buttons .discover__right:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.discover .discover__container .discover__buttons .discover__right i {
  font-size: 1.1rem;
}

.luxuryCondos {
  padding: 100px;
  display: flex;
  justify-content: flex-start;
}
.luxuryCondos .luxuryCondos__container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 1200px;
  position: relative;
  width: 90%;
  margin: auto;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__text {
  width: 40%;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__text .luxuryCondos__title {
  font-family: "CompassDisplay-Regular";
  font-style: italic;
  font-size: 35px;
  font-weight: 300;
  /* margin-bottom: 30px; */
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__text .luxuryCondos__subtitle {
  font-family: "CompassSans-Regular";
  font-weight: 600;
  display: inline-block;
  margin-bottom: 30px;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__text .luxuryCondos__description {
  font-family: "CompassSans-Regular";
  font-weight: 300;
  text-align: justify;
  margin-right: 35px;
  margin-bottom: 15px;
  line-height: 23px;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__text .luxuryCondos__btn .luxuryCondos__allNeighborhoods {
  font-family: "CompassSans-Regular";
  text-decoration: none;
  display: inline-block;
  padding: 15px 25px;
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__text .luxuryCondos__btn .luxuryCondos__allNeighborhoods:hover {
  border-color: #000;
  color: #000;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__wrapper {
  display: flex;
  width: 50%;
  /* overflow: hidden; */
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__wrapper .luxuryCondos__cardImg {
  width: 350px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  position: relative;
  margin-right: 30px;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__wrapper .luxuryCondos__cardImg .luxuryCondos__cardBox {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__wrapper .luxuryCondos__cardImg .luxuryCondos__cardBox .luxuryCondos__thumb {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__wrapper .luxuryCondos__cardImg .luxuryCondos__cardBox .luxuryCondos__descriptionImg {
  color: #fff;
  display: inline-block;
  position: absolute;
  text-align: center;
  font-family: "CompassSans-Regular";
  font-size: 300;
  line-height: 15px;
  padding: 50px;
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__wrapper .luxuryCondos__cardImg .luxuryCondos__cardBox:hover .luxuryCondos__descriptionImg {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.3s ease-in-out;
  visibility: visible;
  cursor: pointer;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__wrapper .luxuryCondos__cardImg .luxuryCondos__cardBox:hover .luxuryCondos__thumb {
  filter: brightness(50%);
  transform: scale(1.1);
  transition: all 0.3s linear;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__wrapper .luxuryCondos__cardImg .luxuryCondos__nameImg {
  display: flex;
  align-self: flex-start;
  margin-top: 10px;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__wrapper .luxuryCondos__cardImg .luxuryCondos__nameImg .luxuryCondos__name {
  font-family: "CompassSans-Regular";
  font-size: 300;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__buttons {
  position: absolute;
  display: flex;
  z-index: 10;
  bottom: 50px;
  left: 425px;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__buttons .luxuryCondos__left {
  padding: 20px;
  background: none;
  border: none;
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__buttons .luxuryCondos__left:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__buttons .luxuryCondos__left i {
  font-size: 1.1rem;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__buttons .luxuryCondos__right {
  padding: 20px;
  background: none;
  border: none;
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__buttons .luxuryCondos__right:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.luxuryCondos .luxuryCondos__container .luxuryCondos__buttons .luxuryCondos__right i {
  font-size: 1.1rem;
}

.lifestyle {
  background-image: url(../img/ocean.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.lifestyle .lifestyle__yacht {
  display: inline-flex;
  align-self: center;
  width: 30%;
  position: absolute;
  left: 0;
  /* z-index: 10; */
  margin-bottom: 100px;
}
.lifestyle .lifestyle__text {
  max-width: 1200px;
  background-color: #fff;
  /* height: auto; */
  margin: 100px auto;
  padding: 100px 100px 100px 200px;
  display: flex;
  /* position: absolute; */
  left: 40%;
}
.lifestyle .lifestyle__text .lifestyle__containerMainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}
.lifestyle .lifestyle__text .lifestyle__containerMainText .lifestyle__title {
  font-family: "CompassDisplay-Regular";
  font-style: italic;
  font-size: 35px;
  font-weight: 300;
}
.lifestyle .lifestyle__text .lifestyle__containerMainText .lifestyle__subtitle {
  font-family: "CompassSans-Regular";
  font-weight: 600;
  display: inline-block;
  margin-bottom: 30px;
}
.lifestyle .lifestyle__text .lifestyle__containerMainText .lifestyle__description {
  font-family: "CompassSans-Regular";
  font-weight: 300;
  width: 100%;
  text-align: justify;
}
.lifestyle .lifestyle__text .lifestyle__containerMainText .lifestyle__requestHelp {
  font-family: "CompassSans-Regular";
  text-decoration: none;
  text-align: center;
  background-color: #000;
  color: #fff;
  border: 2px solid transparent;
  padding: 10px 20px;
  width: 70%;
  margin-top: 25px;
}
.lifestyle .lifestyle__text .lifestyle__containerMainText .lifestyle__requestHelp:hover {
  border-color: #000;
  color: #000;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.lifestyle .lifestyle__text .lifestyle__links ul {
  list-style: none;
  padding-left: 10px;
}
.lifestyle .lifestyle__text .lifestyle__links ul li {
  margin-bottom: 10px;
}
.lifestyle .lifestyle__text .lifestyle__links ul li a {
  text-decoration: none;
  color: #f6c042;
  font-family: "CompassSans-Regular";
  font-weight: 300;
}
.lifestyle .lifestyle__text .lifestyle__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.lifestyle .lifestyle__text .lifestyle__wrapper .lifestyle__cardImg {
  max-width: 550px;
}
.lifestyle .lifestyle__text .lifestyle__wrapper .lifestyle__cardImg .lifestyle__thumb {
  width: 100%;
}
.lifestyle .lifestyle__text .lifestyle__wrapper .lifestyle__cardImg .lifestyle__descriptionImg {
  font-family: "CompassSans-Regular";
  margin-top: 10px;
}
.lifestyle .lifestyle__text .lifestyle__wrapper .lifestyle__buttons {
  position: absolute;
  display: flex;
  z-index: 10;
  bottom: 90px;
  left: -53px;
}
.lifestyle .lifestyle__text .lifestyle__wrapper .lifestyle__buttons .lifestyle__left {
  padding: 20px;
  background: none;
  border: none;
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
}
.lifestyle .lifestyle__text .lifestyle__wrapper .lifestyle__buttons .lifestyle__left:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.lifestyle .lifestyle__text .lifestyle__wrapper .lifestyle__buttons .lifestyle__left i {
  font-size: 1.1rem;
}
.lifestyle .lifestyle__text .lifestyle__wrapper .lifestyle__buttons .lifestyle__right {
  padding: 20px;
  background: none;
  border: none;
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
}
.lifestyle .lifestyle__text .lifestyle__wrapper .lifestyle__buttons .lifestyle__right:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.lifestyle .lifestyle__text .lifestyle__wrapper .lifestyle__buttons .lifestyle__right i {
  font-size: 1.1rem;
}

.experienceExpertise {
  display: flex;
  flex-direction: column;
}
.experienceExpertise .experienceExpertise__main {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 50px;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text {
  margin: auto;
  padding-right: 100px;
  width: 50%;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__title {
  font-family: "CompassDisplay-Regular";
  font-style: italic;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 25px;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__description {
  font-family: "CompassSans-Regular";
  font-weight: 300;
  text-align: justify;
  line-height: 20px;
  margin-bottom: 25px;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details {
  display: flex;
  flex-direction: column;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details .experienceExpertise__detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details .experienceExpertise__detail .experienceExpertise__exp {
  margin-right: 30px;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details .experienceExpertise__detail .experienceExpertise__exp span {
  font-family: "CompassSans-Regular";
  font-size: 14px;
  line-height: 11.7px;
  color: #333333;
  font-weight: 300;
  text-align: justify;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details .experienceExpertise__detail .experienceExpertise__exp h3 {
  font-family: "CompassSans-Regular";
  font-size: 30px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #333333;
  margin: 5px 0;
  text-align: justify;
  font-weight: 600;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details .experienceExpertise__detail .experienceExpertise__awards span {
  font-family: "CompassSans-Regular";
  font-size: 14px;
  line-height: 11.7px;
  color: #333333;
  font-weight: 300;
  text-align: justify;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details .experienceExpertise__detail .experienceExpertise__awards h3 {
  font-family: "CompassSans-Regular";
  font-size: 30px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #333333;
  margin: 5px 0;
  text-align: justify;
  font-weight: 600;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details .experienceExpertise__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details .experienceExpertise__top .experienceExpertise__producing {
  margin-right: 30px;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details .experienceExpertise__top .experienceExpertise__producing span {
  font-family: "CompassSans-Regular";
  font-size: 14px;
  line-height: 11.7px;
  color: #333333;
  font-weight: 300;
  text-align: justify;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details .experienceExpertise__top .experienceExpertise__producing h3 {
  font-family: "CompassSans-Regular";
  font-size: 30px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #333333;
  margin: 5px 0;
  text-align: justify;
  font-weight: 600;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details .experienceExpertise__top .experienceExpertise__ranked span {
  font-family: "CompassSans-Regular";
  font-size: 14px;
  line-height: 11.7px;
  color: #333333;
  font-weight: 300;
  text-align: justify;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__details .experienceExpertise__top .experienceExpertise__ranked h3 {
  font-family: "CompassSans-Regular";
  font-size: 30px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #333333;
  margin: 5px 0;
  text-align: justify;
  font-weight: 600;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__btn {
  width: 250px;
  margin-top: 10px;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__btn a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 15px 60px;
  background-color: #000;
  font-family: "CompassSans-Regular";
  border: 2px solid transparent;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__text .experienceExpertise__btn a:hover {
  border-color: #000;
  color: #000;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__img {
  width: 50%;
}
.experienceExpertise .experienceExpertise__main .experienceExpertise__img .experienceExpertise__thumb {
  width: 100%;
}
.experienceExpertise .experienceExpertise__enterprises {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "CompassSerif-Regular";
  font-style: italic;
  font-weight: 600;
  max-width: 1200px;
  margin: auto;
}
.experienceExpertise .experienceExpertise__enterprises .experienceExpertise__thumbs {
  display: flex;
  justify-content: space-evenly;
  /* width: 90%; */
}
.experienceExpertise .experienceExpertise__enterprises .experienceExpertise__thumbs .experienceExpertise__thumb {
  vertical-align: top;
  transform: scale(0.9);
}

.testimonials {
  max-width: 1200px;
  margin: auto;
  display: flex;
  position: relative;
}
.testimonials .testimonials__title {
  font-family: "CompassDisplay-Regular";
  font-size: 60px;
  font-style: italic;
  font-weight: 300;
  line-height: 72px;
  color: #333333;
  padding: 50px;
}
.testimonials:after {
  content: "";
  width: 1px;
  background-color: #1b1b1b;
  height: 320px;
  position: absolute;
  right: 800px;
  top: 50px;
  transform: rotate(22deg);
}
.testimonials .testimonials__slider {
  display: flex;
  flex-direction: column;
  padding: 50px 100px 100px 100px;
}
.testimonials .testimonials__slider .testimonials__wrapper .testimonials__testimonial .testimonials__message {
  display: inline-block;
  margin-bottom: 25px;
  text-align: justify;
  font-style: italic;
  font-family: "CompassSans-Regular";
}
.testimonials .testimonials__slider .testimonials__wrapper .testimonials__testimonial .testimonials__author {
  font-family: "CompassSans-Regular";
  font-weight: 600;
  display: inline-block;
  margin-bottom: 50px;
}
.testimonials .testimonials__slider .testimonials__buttons {
  display: flex;
}
.testimonials .testimonials__slider .testimonials__buttons .testimonials__left {
  padding: 20px;
  background: none;
  border: none;
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
}
.testimonials .testimonials__slider .testimonials__buttons .testimonials__left:hover {
  border-color: #000;
  color: #000;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.testimonials .testimonials__slider .testimonials__buttons .testimonials__right {
  padding: 20px;
  background: none;
  border: none;
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
}
.testimonials .testimonials__slider .testimonials__buttons .testimonials__right:hover {
  border-color: #000;
  color: #000;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 50px auto;
}
.footer .footer__logoFooter {
  display: flex;
  justify-content: flex-start;
}
.footer .footer__infoFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 25px 0 25px 0;
}
.footer .footer__infoFooter .footer__group .footer__title {
  font-family: "CompassSans-Regular";
  color: #333333;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer .footer__infoFooter .footer__group .footer__list .footer__item {
  list-style: none;
  font-family: "CompassSans-Regular";
  margin-bottom: 5px;
  border-bottom: 2px solid transparent;
}
.footer .footer__infoFooter .footer__group .footer__list .footer__item:hover {
  border-color: #333333;
  transition: all 0.3s ease-in-out;
}
.footer .footer__infoFooter .footer__group .footer__list .footer__item a {
  text-decoration: none;
  color: #333333;
}
.footer .footer__compass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}
.footer .footer__compass .footer__socialMedias .footer__listSocialMedias {
  display: flex;
  list-style: none;
}
.footer .footer__compass .footer__socialMedias .footer__listSocialMedias .footer__socialMedia {
  margin-right: 20px;
}
.footer .footer__details {
  font-family: "CompassSans-Regular";
  color: #333333;
  font-size: 0.7rem;
  text-align: justify;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 25px;
}
.footer .footer__terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__terms .footer__listFooter {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.footer .footer__terms .footer__listFooter .footer__term {
  padding-right: 20px;
  font-family: "CompassSans-Regular";
}
.footer .footer__terms .footer__listFooter .footer__term a {
  text-decoration: none;
  color: #333333;
  text-align: center;
  border-bottom: 2px solid transparent;
}
.footer .footer__terms .footer__listFooter .footer__term a:hover {
  border-color: #333333;
  transition: all 0.3s ease-in-out;
}
.footer .footer__terms .footer__realtor .footer__thumbRealtor {
  transform: scale(0.75);
}/*# sourceMappingURL=styles.css.map */